1.Create a list L as defined as = [10,20,30,40,50,60,70,80]

In [35]:
L = [10,20,30,40,50,60,70,80]

i. WAP to add 200 and 300 to L.

In [38]:
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

ii. WAP to remove 10 and 30 from L.

In [41]:
L.pop(0)
L.pop(1)
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

iii. WAP to sort L in ascending order.

In [43]:
L.sort()
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

iv. WAP to sort L in descending order.

In [45]:
L.sort(reverse=True)
print(L)

[300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:

In [48]:
tup =(45,89.5,76,45.4,89,92,58,45)
print("tuple--->",tup)

tuple---> (45, 89.5, 76, 45.4, 89, 92, 58, 45)

i. Identify the highest score and its index in the tuple.

In [51]:
highest_score =  max(tup)
print("highest score is--->",highest_score)
highest_score_indx=tup.index(highest_score)
print(highest_score_indx)

highest score is---> 92
5

ii. Find the lowest score and count how many times it appears.

In [54]:
lowest_score= min(tup)
print("lowest score is--->",lowest_score)
count_lowest_score = tup.count(lowest_score)
print("no of time it appears", count_lowest_score)

lowest score is---> 45
no of time it appears 2

iii. Reverse the tuple and return it as a list.

In [57]:
reverse_tup = list(reversed(tup))
print("reverse of tuple as list--->", reverse_tup)

reverse of tuple as list---> [45, 58, 92, 89, 45.4, 76, 89.5, 45]

iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [60]:
specific_score = 76
if specific_score in tup:
   first_occurence = tup.index(specific_score)
   print("first occurenece is present at index",first_occurence)
else:
  print("the score is not present")

first occurenece is present at index 2

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:

In [88]:
import random
random_numbers = [random.randint(100,900) for _ in range(100)]
print("list of random number", random_numbers)

list of random number [432, 224, 262, 349, 273, 497, 865, 858, 627, 425, 461, 828, 165, 517, 295, 847, 154, 611, 379, 431, 532, 672, 748, 732, 771, 578, 815, 261, 216, 856, 606, 310, 277, 675, 193, 718, 225, 230, 833, 602, 676, 176, 638, 831, 282, 285, 391, 577, 450, 557, 573, 239, 859, 196, 549, 830, 206, 344, 263, 233, 426, 778, 843, 699, 709, 694, 315, 897, 862, 311, 165, 118, 328, 559, 595, 898, 718, 112, 725, 686, 115, 106, 807, 894, 400, 733, 557, 194, 469, 549, 596, 529, 727, 720, 237, 354, 727, 237, 399, 130]

i.All odd numbers

In [91]:
odd_numbers = [num for num in random_numbers if num%2!=0]
print("all odd numbers:",odd_numbers)

all odd numbers: [349, 273, 497, 865, 627, 425, 461, 165, 517, 295, 847, 611, 379, 431, 771, 815, 261, 277, 675, 193, 225, 833, 831, 285, 391, 577, 557, 573, 239, 859, 549, 263, 233, 843, 699, 709, 315, 897, 311, 165, 559, 595, 725, 115, 807, 733, 557, 469, 549, 529, 727, 237, 727, 237, 399]

ii. All even numbers

In [94]:
even_numbers=[num for num in random_numbers if num%2==0]
print("all even numbers:",even_numbers)

all even numbers: [432, 224, 262, 858, 828, 154, 532, 672, 748, 732, 578, 216, 856, 606, 310, 718, 230, 602, 676, 176, 638, 282, 450, 196, 830, 206, 344, 426, 778, 694, 862, 118, 328, 898, 718, 112, 686, 106, 894, 400, 194, 596, 720, 354, 130]

iii.All prime numbers

In [112]:
def is_prime(num):
   if num<2:
       return False
   for i in range(2,num):
        if num % i == 0:
            return False
   return True
prime_numbers = [num for num in random_numbers if is_prime(num)]
print("all prime numbers:",prime_numbers)

all prime numbers: [349, 461, 379, 431, 277, 193, 577, 557, 239, 859, 263, 233, 709, 311, 733, 557, 727, 727]

4. Consider the following two sets, A and B, representing scores of two teams in multiple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}

In [116]:
A = {34,56,78,90}
B = {78,45,90,23}

i. Find the unique scores achieved by both teams (union of sets).

In [118]:
print("union of a and b--->", A.union(B))

union of a and b---> {34, 45, 78, 23, 56, 90}

ii. Identify the scores that are common to both teams (intersection of sets).

In [122]:
print("intersection of a,b--->",A.intersection(B))

intersection of a,b---> {90, 78}

iii. Find the scores that are exclusive to each team (symmetric difference).

In [126]:
print("symmetric difference--->", A.symmetric_difference(B))

symmetric difference---> {34, 45, 23, 56}

iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.

In [128]:
is_A_subset_B = A.issubset(B)
is_B_superset_A = B.issuperset(A)
print("is A subset of B--->", is_A_subset_B)
print("is B superset of A--->", is_B_superset_A )

is A subset of B---> False
is B superset of A---> False

v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [131]:
x = int(input("enter the score to remove from set A:"))
if x in A:
    A.remove(x)
    print("set A after removing the score--->", A)
else:
        print("the score is not present in set A")

enter the score to remove from set A: 34

set A after removing the score---> {56, 90, 78}

5. Write a program to rename a key city to a location in the following dictionary.

In [134]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"

}
print(sample_dict)
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}